body {
    font-family: 'ABeeZee', sans-serif;
    background: #181818;
    color: #F8F8F8;
}

.logo-text, h1 {
    font-family: 'Antonio', sans-serif;
    font-weight: 600;
}

.centered {
  display: flex;
  align-items: center;
  height: 90vh;
}


/* Small screen styling (downwards) */
@media (max-width: 350px) {
    .centered {
      margin-top: 70px;
    }
}