{% extends 'base.html' %}
{% block title %} Home {% endblock %}


{% block content %}
<div class="centered">
  <div class="container">
    <div class="px-4 my-5 text-center">
      <h1 class="display-3 fw-bold">Easy and Fast Store Management</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Sit exmaecenas taciti viverra tempus leo ex, lacusvestibulum interdum. Risusnam pharetrasuspendisse eleifendnam consectetur liberonam dis bibendum porttitor, cursus. Morbi ornare necinteger volutpat dictum odioin senectus, at cubilia.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <button type="button" class="btn btn-danger btn-lg px-4 me-sm-3">Register</button>
          <button type="button" class="btn btn-outline-warning btn-lg px-4">Login</button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}