{% extends 'base.html' %}
{% block title %} Home {% endblock %}


{% block content %}
<div class="centered">
  <div class="container">
    <div class="px-4 my-5 text-center">
      {% include "_messages.html" %}

      <h1 class="display-3 fw-bold">Easy and Fast Store Management</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Sit exmaecenas taciti viverra tempus leo ex, lacusvestibulum interdum. Risusnam pharetrasuspendisse eleifendnam consectetur liberonam dis bibendum porttitor, cursus. Morbi ornare necinteger volutpat dictum odioin senectus, at cubilia.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          {% if current_user.is_authenticated %}
           <a href="{{ url_for('profile', name=current_user.business_name) }}" class="btn btn-warning btn-lg px-4">Your Profile</a>
          {% else %}
            <a href="{{ url_for('register') }}" class="btn btn-danger btn-lg px-4 me-sm-3">Register</a>
          <a href="{{ url_for('login') }}" class="btn btn-outline-warning btn-lg px-4">Login</a>
          {% endif %}
        </div>
      </div>
      <hr class="w-50 mx-auto warning">
      <p>Reach out for any enquiries: </p>
      <a href="mailto:admin@aminatajagbe.com?subject=Enquiries from Stor'em" class="btn btn-light btn-lg px-4">Contact Us</a>
    </div>


  </div>
</div>

{% endblock %}